@using Medicio.ViewModels.Authorization
@model RegisterVM
@{
    ViewData["Title"] = "Register";
}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive Bootstrap 4 Admin &amp; Dashboard Template">
    <meta name="author" content="Bdtask">
    <title>1</title>
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/admin/dist/img/favicon.png">
    <!--Global Styles(used by all pages)-->
    <link href="~/admin/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/admin/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">
    <link href="~/admin/plugins/fontawesome/css/all.min.css" rel="stylesheet">
    <link href="~/admin/plugins/typicons/src/typicons.min.css" rel="stylesheet">
    <link href="~/admin/plugins/themify-icons/themify-icons.min.css" rel="stylesheet">
    <!--Third party Styles(used by this page)-->
    <!--Start Your Custom Style Now-->
    <link href="~/admin/dist/css/style.css" rel="stylesheet">
</head>
<body class="bg-white">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Register</h1>
                <form method="post" class="forms-sample">
                    <div class="form-group">
                        <label for="exampleInputUsername1">First Name</label>
                        <input type="text" asp-for="FirstName" class="form-control" id="f_name" placeholder="First name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Last Name</label>
                        <input type="text" asp-for="LastName" class="form-control" id="l_name" placeholder="Last name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">User Name</label>
                        <input type="text" asp-for="UserName" class="form-control" id="u_name" placeholder="UserName">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">E-Mail</label>
                        <input type="email" asp-for="Email" class="form-control" id="emial" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputConfirmPassword1">Password</label>
                        <input type="password" asp-for="Password" class="form-control" id="pass" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputConfirmPassword1">Confirm Password</label>
                        <input type="password" asp-for="ConfirmPassword" class="form-control" id="pass" placeholder="ConfirmPassword">
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Sign Up</button>
                    <div asp-validation-summary="ModelOnly"></div>
                    <a class="nav-link" asp-controller="Auth" asp-action="Login">Login</a>
                </form>
            </div>
        </div>
    </div>

</body>

